# MLOps Zoomcamp: Intro
### Homework

In [47]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression

#### Q1. Downloading the data

In [48]:
df_jan = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')
df_feb = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [49]:
print(df_jan.shape[1])

19

#### Q2. Computing duration

In [50]:
def compute_duration(df):
    df = df.copy()
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df.duration = df.duration.apply(lambda x: x.total_seconds() / 60)

    return df

In [51]:
df_jan = compute_duration(df_jan)
df_feb = compute_duration(df_feb)

In [52]:
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [53]:
print(df_jan.duration.std().round(2))

42.59

#### Q3. Dropping outliers

In [54]:
def drop_outliers(df):
    df = df.loc[(df.duration >= 1) & (df.duration <= 60), :]
    return df

In [55]:
print(df_jan.shape[0])

3066766

In [56]:
df_jan = drop_outliers(df_jan)
df_feb = drop_outliers(df_feb)

In [57]:
print(df_jan.shape[0])

3009173

In [58]:
round(3009173 / 3066766, 2)

0.98

#### Q4. One-hot encoding

In [65]:
def one_hot_encoding(df, encoder=None):
    df_categorical = df.select_dtypes(exclude='number')
    df_numerical = df.select_dtypes(include='number')

    if not encoder:
        encoder = OneHotEncoder(dtype=int, handle_unknown='infrequent_if_exist')
        encoder.fit(df_categorical)

    encodings = encoder.transform(df_categorical).toarray()
    print(encodings)
    print(encodings.shape)

In [66]:
df_jan.PULocationID = df_jan.PULocationID.astype("category")
df_feb.PULocationID = df_feb.PULocationID.astype("category")

In [64]:
one_hot_encoding(df_jan)

AttributeError: 'csr_matrix' object has no attribute 'to_array'