# MLOps Zoomcamp: Intro
### Homework

In [80]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression

#### Q1. Downloading the data

In [81]:
df_jan = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')
df_feb = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [82]:
print(df_jan.shape[1])

19

#### Q2. Computing duration

In [83]:
def compute_duration(df):
    df = df.copy()
    df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df.duration = df.duration.apply(lambda x: x.total_seconds() / 60)

    return df

In [84]:
df_jan = compute_duration(df_jan)
df_feb = compute_duration(df_feb)

In [85]:
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [86]:
print(df_jan.duration.std().round(2))

42.59

#### Q3. Dropping outliers

In [87]:
def drop_outliers(df):
    df = df.loc[(df.duration >= 1) & (df.duration <= 60), :]
    return df

In [88]:
print(df_jan.shape[0])

3066766

In [89]:
df_jan = drop_outliers(df_jan)
df_feb = drop_outliers(df_feb)

In [90]:
print(df_jan.shape[0])

3009173

In [91]:
round(3009173 / 3066766, 2)

0.98

In [92]:
def one_hot_encoding(df, encoder=None):
    df_categorical = df.select_dtypes(exclude='number')
    df_numerical = df.select_dtypes(include='number')

    if not encoder:
        encoder = OneHotEncoder(dtype=int, handle_unknown='infrequent_if_exist')
        encoder.fit(df_categorical)

    encodings = encoder.transform(df_categorical).toarray()
    df_encodings = pd.DataFrame(data=encodings, columns=encoder.get_feature_names_out())

    df_encoded = pd.concat([df_numerical, df_encodings], axis=1).dropna()

    return df_encoded

In [93]:
df_jan = df_jan[['PULocationID', 'DOLocationID', 'duration']]
df_feb = df_feb[['PULocationID', 'DOLocationID', 'duration']]

In [94]:
df_jan[['PULocationID', 'DOLocationID']] = df_jan[['PULocationID', 'DOLocationID']].astype("category")
df_feb[['PULocationID', 'DOLocationID']] = df_feb[['PULocationID', 'DOLocationID']].astype("category")

In [95]:
df_jan_encoded = one_hot_encoding(df_jan)
df_feb_encoded = one_hot_encoding(df_feb)

Index([      0,       1,       2,       3,       4,       5,       6,       7,
             8,       9,
       ...
       3009163, 3009164, 3009165, 3009166, 3009167, 3009168, 3009169, 3009170,
       3009171, 3009172],
      dtype='int64', length=2952085)